{% extends "base.html" %}

{% block title %}Post{% endblock title %}



{% block body %}
    <div class="container mt-3">
            <div class="row border mt-4 p-3" style="background: #f2f5f8">
                <!-- Coluna da Imagem -->
                <div class="col-md-2 col-12 text-center">
                    <div class="image pe-2"> 
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded img-fluid" width="200">
                    </div>
                    <div class="mt-4 p-3">
                        <strong>{{ post.autor.username }}</strong>
                        {% for curso in post.autor.cursos.split(';') %}
                            <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                        {% endfor %}
                    </div>
                </div>

                <!-- Coluna do Conteúdo -->
                <div class="col-md-9 col-12">
                    <h3 class="mt-3 mt-md-0"> {{ post.titulo }} 
                        <small class="text-muted" style="font-size: 15px">- Data de Criação: {{ post.data_criacao.strftime('%d/%m/%Y')}} 
                            {%if form_editarpost%}
                                - <a href="#form_editarpost">Editar Post</a> / <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir Post</a>
                            {% endif %}
                        </small>
                    </h3>
                    <p> {{ post.corpo }} </p>
                </div>
            </div>
    </div>
{%if form_editarpost%}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="" id="form_editarpost" class="border p-4 mt-2" enctype="multipart/form-data">
                    {{ form_editarpost.csrf_token }}
                    <legend>Editar Post</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_editarpost.titulo.label(class= "form-control-label") }}
                            {{ form_editarpost.titulo(class= "form-control") }}
                            
                        </div>
                        <div class="form-group">
                            {{ form_editarpost.corpo.label(class= "form-control-label") }}
                            {{ form_editarpost.corpo(class= "form-control") }}
                                                
                        </div>
                        
                    </fieldset>
                    {{ form_editarpost.botao_submit_criarpost(class="btn btn-primary border mt-2") }}
                </form>
            </div>
            

        </div>
        
        
    </div>

{% endif %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excluir Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Você quer realmente excluir esse post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <form method="POST" action="{{ url_for('excluir_post', post_id=post.id)}}">
                <button type="submit" class="btn btn-danger">Excluir Post</button>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}